{% load i18n %}
{% load django_markdown %}
{% load appfilters %}
{% for news in news_list %}
<div class="row">
  <article>
    {% include 'social_links.html' with url=news.get_absolute_url title=news.title %}
    <h2>
      <a href="{{ news.get_absolute_url }}">
        {{ news.title }}
      </a>
    </h2>
    <section>
      {% autoescape off %}
      {{ news.content | markdown | linebreaks}}
      {% endautoescape %}
    </section>
    <span>
      <a href="{{ news.get_absolute_url }}#disqus_thread"></a>
      <a href="{{ news.get_absolute_url }}"><i class="fa fa-comments"></i></a>
      {% trans "On" %} {{ news.date|format_date:news.lang }} {% trans "by" %} {{ news.user }}
    </span>
  </article>
</div>
{% endfor %}
