{% extends 'base.html' %}
{% load i18n %}
{% load django_markdown %}
{% load appfilters %}

{% block content %}
<div class="container" id="content">

</div>
{% endblock %}

{% block pagejs %}
<script>
 $(document).ready(function() {
   $('#content').scrollPagination({
     page: 1,
     count: 10,
     noMorePosts: "{% trans 'No More Posts!' %}",
     scrollForMore: "{% trans 'Scroll for more or click here' %}",
     clickForMore: "{% trans 'Click for more' %}",
     loading: "{% trans 'Loading Posts...' %}",
     delay: 500,
     scroll: true
   });
 });
</script>
{% endblock %}
