{% extends 'base.html' %}
{% load django_markdown %}
{% load i18n %}
{% load appfilters %}
{% load staticfiles %}
{% block header %}
<div class="header">
  <div class="container">
    <div class="row">
      <div id="slides">
        <img src="{% static 'img/slide-1.jpg' %}"/>
        <img src="{% static 'img/slide-2.jpg' %}"/>
        <img src="{% static 'img/slide-3.jpg' %}"/>
        <img src="{% static 'img/slide-4.jpg' %}"/>
      </div>
    </div>
  </div>
</div>

<div class="secbanner">
  <div class="container">
    <div class="row">
      <div id="sitetitle">
    <h1>
      <img src="{% static 'img/logo.png' %}" />
      {% trans "Tehran Python User Group" %}
    </h1>
      </div>
    </div>
  </div>
</div>
{% endblock header %}

{% block content %}
  <div class="row">
    <div class="span12">
      <div id="firstpage">
        <h1>
          {{ page.title }}
        </h1>
        <section id="firstpagecontent">
          {% autoescape off %}
          {{ page.content }}
          {% endautoescape %}
        </section>
      </div>
    </div>
  </div>
</div>

<div class="address">
  <div class="row">
    <div class="addrtext pull-{% if lang.bidi %}right{% else %}left{% endif %} span6">
      <h2>
        <i class="icon-map-marker icon-large"></i> {% trans "Address" %}
      </h2>
      <h3>
        {% trans "Sessions" %}
      </h3>
      <p>
        {% trans "Tehran, Africa St, Nor St (Africa to the north after the Zafar, before the gas station), No 18, Tosan Co. Training Hall" %}
      </p>
      <br />
      <p>
        {% trans "More Information" %}:
      </p>
      <p class="left pull-{% if lang.bidi %}left{% else %}right{% endif %}">
        {% trans "Keyvan Hedayati" %} : {% trans "+98-936-8347120" %}<br/>
      </p>
    </div>
    <div class="pull-{% if lang.bidi %}left{% else %}right{% endif %} span6" class="map">
      <a href="http://goo.gl/V1Qoz0" target="_blank" title="{% trans "View" %} {% trans "Tosan Co." %} {% trans "in a larger map" %}">
        <img src="{% static 'img/sessionmap.jpg' %}" class="img-rounded" alt="TehPUG on map" />
      </a>
      <br />
      <p class="small">
        {% trans "View" %}
        <a href="http://goo.gl/V1Qoz0">
          {% trans "Tosan Co." %}
        </a>
        {% trans "in a larger map" %}
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
<div class="row">
    <div class="addrtext pull-{% if lang.bidi %}right{% else %}left{% endif %} span6">
      <h3>{% trans "Workshops" %}</h3>
      <p>
        {% trans "Tehran, Saadat Abad, Southern Allameh st, Eastern 36th, No 22, Kava Co." %}
      </p>
      <br />
      <p>
        {% trans "More Information" %}:
      </p>
      <p class="left pull-{% if lang.bidi %}left{% else %}right{% endif %}">
        {% trans "Nima Norozi" %} : <a href="mailto:nim4n@yahoo.com">nim4n@yahoo.com</a><br/>
      </p>
    </div>
    <div class="pull-{% if lang.bidi %}left{% else %}right{% endif %} span6" class="map">
      <a href="http://goo.gl/maps/M18qe" target="_blank" title="{% trans "View" %} {% trans "Kava Co." %} {% trans "in a larger map" %}">
        <img src="{% static 'img/workshopmap.jpg' %}" class="img-rounded" alt="TehPUG on map" />
      </a>
      <br />
      <p class="small">
        {% trans "View" %}
        <a href="http://goo.gl/maps/M18qe">
          {% trans "Kava Co." %}
        </a>
        {% trans "in a larger map" %}
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="newslist">
  <div class="container">
    <div class="row">
      {% for news in news_list %}
      <article>
        {% include 'social_links.html' with url=news.get_absolute_url title=news.title %}
        <h2>
          <a href="{{ news.get_absolute_url }}">
            {{ news.title }}
          </a>
        </h2>
        <section>
          {% autoescape off %}
          {{ news.content | markdown | linebreaks}}
          {% endautoescape %}
        </section>
        <span>
          {% trans "On" %} {{ news.date|format_date:news.lang }} {% trans "by" %} {{ news.user }}
        </span>
      </article>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block extrahead %}
{% endblock extrahead %}


{% block analytic %}
{% endblock analytic %}

{% block pagejs %}
<script type="text/javascript">
$(function() {
    $('#slides').slidesjs({
    height: 450,
    play: {
        active: true,
        auto: true,
        interval: 6000,
        swap: true,
        effect: "fade"
    },
    navigation: {
        active: true,
        effect: "fade"
    },
    pagination: {
        active: true,
        effect: "fade"
    },
    effect: {
        fade: {
        speed: 1000,
        crossfade: true
        }
    }
    });
});
</script>
{% endblock pagejs %}
